<section class="posts-list-main pt-5">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="search-main">
          <div class="field-outer with-add-btn">
            <input type="text" class="form-control" placeholder="search">
          </div>
          <button class="custom-btn" [routerLink]="['/posts/add']">Add Post</button>
        </div>
        <div
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="300"
        (scrolled)="onScroll()"
        >
        <ng-container *ngFor="let item of allPosts; index as i" >
        console.log("Post length", postsData.post.link_urls.length);

          <app-post-card [postsData]="item"></app-post-card>
        </ng-container>
        </div
        >
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</section>
