<header class="header align-self-center">
  <nav class="navbar container h-100">
    <div class="row w-100">
      <div class="col-6 align-self-center">
        <a class="logo" [routerLink]="['/']">HK</a>
      </div>
      <div class="col-6 text-right text-white align-self-center">
        <div class="btn-group d-inline-block" *ngIf="(isLoggedIn | async)" dropdown>
          <a id="button-basic" dropdownToggle type="button" class="user-img" aria-controls="dropdown-basic">
            <span>{{userData?.name}}</span>
            <img src="assets/images/user.png"></a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/profile', 1]">Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <div class="login-btns d-inline-block" *ngIf="!(isLoggedIn | async)">
          <a (click)="openModal(login)">Login / SignUp</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Login & signUp Modal  -->
<ng-template #login>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p-tabView styleClass="custom-tabview">
      <p-tabPanel header="Login">
        <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" class="form-main">
          <div class="field-outer">
            <input type="email" class="form-control" placeholder="Enter email Id" formControlName="email"
              [class.is-invalid]="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched) && isLoginFormSubmitted">

            <div
              *ngIf="(loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched) && isLoginFormSubmitted)"
              class="error-msg">
              <p *ngIf="loginForm.controls.email.hasError('required')">
                Email is required
              </p>
              <p
                *ngIf="loginForm.controls.email.hasError('validateEmail') && !loginForm.controls.email.hasError('required')">
                Please enter valid email
              </p>
            </div>
          </div>
          <div class="field-outer">
            <input type="password" class="form-control" placeholder="Enter password" formControlName="password"
              [class.is-invalid]="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched) && isLoginFormSubmitted">
            <div
              *ngIf="(loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched) && isLoginFormSubmitted)"
              class="error-msg">
              <p *ngIf="loginForm.controls.password.hasError('required')"> Password is required </p>
            </div>
          </div>
          <div class="btn-outer mr-40 login-btn-outer text-center">
            <button class="custom-btn">Log in</button>
          </div>
        </form>
      </p-tabPanel>
      <p-tabPanel header="Sign up">
        <form [formGroup]="signUpForm" (ngSubmit)="signUpFormSubmit()">
          <div class="field-outer">
            <input type="text" class="form-control" placeholder="Enter name" formControlName="name"
              [class.is-invalid]="signUpForm.controls.name.invalid && (signUpForm.controls.name.dirty || signUpForm.controls.name.touched) && isSignUpFormSubmitted">
            <div
              *ngIf="(signUpForm.controls.name.invalid && (signUpForm.controls.name.dirty || signUpForm.controls.name.touched) && isSignUpFormSubmitted)"
              class="error-msg">
              <p *ngIf="signUpForm.controls.name.hasError('required')"> Name is required </p>
            </div>
          </div>
          <div class="field-outer">
            <input type="email" class="form-control" placeholder="Enter email Id" formControlName="email"
              [class.is-invalid]="signUpForm.controls.email.invalid && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched) && isSignUpFormSubmitted">

            <div
              *ngIf="(signUpForm.controls.email.invalid && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched) && isSignUpFormSubmitted)"
              class="error-msg">
              <p *ngIf="signUpForm.controls.email.hasError('required')">
                Email is required
              </p>
              <p
                *ngIf="signUpForm.controls.email.hasError('validateEmail') && !signUpForm.controls.email.hasError('required')">
                Please enter valid email
              </p>
            </div>
          </div>
          <div class="field-outer">
            <input type="password" class="form-control" placeholder="Enter password" formControlName="password"
              [class.is-invalid]="signUpForm.controls.password.invalid && (signUpForm.controls.password.dirty || signUpForm.controls.password.touched) && isSignUpFormSubmitted">
            <div
              *ngIf="(signUpForm.controls.password.invalid && (signUpForm.controls.password.dirty || signUpForm.controls.password.touched) && isSignUpFormSubmitted)"
              class="error-msg">
              <p *ngIf="signUpForm.controls.password.hasError('required')"> Password is required </p>
            </div>
          </div>
          <div class="field-outer">
            <input type="password" class="form-control" placeholder="Enter confirm password"
              formControlName="confirmPassword"
              [class.is-invalid]="signUpForm.controls.confirmPassword.invalid && (signUpForm.controls.confirmPassword.dirty || signUpForm.controls.confirmPassword.touched) && isSignUpFormSubmitted">
            <div
              *ngIf="(signUpForm.controls.confirmPassword.invalid && (signUpForm.controls.confirmPassword.dirty || signUpForm.controls.confirmPassword.touched) && isSignUpFormSubmitted)"
              class="error-msg">
              <p *ngIf="signUpForm.controls.confirmPassword.hasError('required')"> Confirm password is required </p>
            </div>
          </div>
          <div class="btn-outer mr-40 login-btn-outer text-center">
            <button class="custom-btn">Sign Up</button>
          </div>
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
</ng-template>
