<div class="card-main" (click)="redirectCardDetail($event)">
  <div class="card-head">
    <h4>{{postsData?.post?.title}}</h4>
    <div class="btn-group d-inline-block" dropdown  (click)="$event.stopPropagation()">
      <a id="button-basic" dropdownToggle type="button" class="user-img" aria-controls="dropdown-basic">
        ...</a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" (click)="editYourPost(postsData?.post?.post_id)">Edit</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="deletePost(postsData?.user?.user_id, postsData?.post?.post_id)">Delete</a></li>
      </ul>
    </div>    
  </div>
  <p class="description"><b>Description : </b>{{postsData?.post?.title}} </p>
  <ul class="urlLinks">
    <li class="link">
      <b>Link : </b>
      <a class="urlLink" (click)="redirectToLink($event, postsData?.post?.link_urls[0].link_url)">{{postsData?.post?.link_urls[0].link_url}}</a>
      <b *ngIf="postsData?.post?.link_urls.length > 1">
        +{{postsData?.post?.link_urls.length - 1}} more
      </b>
    </li>
  </ul>
  <p class="card-foot">
    <span [title]="postsData?.post?.created_on">{{postsData?.post?.created_on | date}}</span>
    <span class="posted-by" (click)="getUserdDetailById($event, postsData?.user?.user_id)"><b>By:</b> {{postsData?.user?.name}}</span>
  </p>
</div>