<div class="container profile-page-main">
  <div class="card-main profile">
    <div class="media user-detail">
      <div class="user-image">
        <img src="assets/images/user.png" alt="user name">
      </div>
      <div class="media-body">
        <h4 class="name">{{userData?.name}}</h4>
        <div class="row">
          <div class="col-6">
            <h4>{{userData?.email}}</h4>
          </div>
          <div class="col-6">
            <h4>Total Posts 25</h4>
          </div>
          <div class="col-6"></div>
          <div class="col-6">
            <button class="custom-btn secondary" (click)="openModal(changePassword)">Change Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="my-posts">My Posts</h4>
  <div class="row">
    <div class="col-9">
      <div class="search-main">
        <div class="field-outer with-add-btn">
          <input type="text" class="form-control" placeholder="search">
        </div>
        <button class="custom-btn" [routerLink]="['/posts/add']">Add Post</button>
      </div>
      <div
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="300"
        (scrolled)="onScroll()"
        >
        <ng-container *ngFor="let item of allPosts; index as i">
          <app-post-card [postsData]="item"></app-post-card>
        </ng-container>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<!-- Change password Modal -->
<ng-template #changePassword>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Change Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordFormSubmit()" class="form-main">
      <div class="field-outer">
        <input type="password" class="form-control" placeholder="Enter current password" formControlName="currentPassword"
          [class.is-invalid]="changePasswordForm.controls.currentPassword.invalid && (changePasswordForm.controls.currentPassword.dirty || changePasswordForm.controls.currentPassword.touched) && ischangePasswordFormSubmitted">
        <div
          *ngIf="(changePasswordForm.controls.currentPassword.invalid && (changePasswordForm.controls.currentPassword.dirty || changePasswordForm.controls.currentPassword.touched) && ischangePasswordFormSubmitted)"
          class="error-msg">
          <p *ngIf="changePasswordForm.controls.currentPassword.hasError('required')">Current password is required </p>
        </div>
      </div>
      <div class="field-outer">
        <input type="password" class="form-control" placeholder="Enter password" formControlName="newPassword"
          [class.is-invalid]="changePasswordForm.controls.newPassword.invalid && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched) && ischangePasswordFormSubmitted">
        <div
          *ngIf="(changePasswordForm.controls.newPassword.invalid && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched) && ischangePasswordFormSubmitted)"
          class="error-msg">
          <p *ngIf="changePasswordForm.controls.newPassword.hasError('required')"> New password is required </p>
        </div>
      </div>
      <div class="field-outer">
        <input type="text" class="form-control" placeholder="Enter password" formControlName="confirmPassword"
          [class.is-invalid]="changePasswordForm.controls.confirmPassword.invalid && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched) && ischangePasswordFormSubmitted">
        <div
          *ngIf="(changePasswordForm.controls.confirmPassword.invalid && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched) && ischangePasswordFormSubmitted)"
          class="error-msg">
          <p *ngIf="changePasswordForm.controls.confirmPassword.hasError('required')"> Confirm password is required </p>
        </div>
      </div>
      <div class="btn-outer mr-40 login-btn-outer text-center">
        <button class="custom-btn secondary">Change Password</button>
      </div>
    </form>
  </div>
</ng-template>